<!-- templates/fragments/menu-lateral.html -->

<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/styles.css}">

	<div th:fragment="menuLateral" class="menu-lateral">

		<a th:href="@{/dashboard}">
			<button  th:classappend="${botaoPressionado == 'dashboard' ? 'ativo' : ''}">DashBoard</button>
		</a>

		<a th:href="@{/acessos}">
			<button  th:classappend="${botaoPressionado == 'acessos' ? 'ativo' : ''}">Acessos</button>
		</a>

		<a th:href="@{/pessoas}">
			<button  th:classappend="${botaoPressionado == 'pessoas' ? 'ativo' : ''}">Pessoas</button>
		</a>

		<a th:href="@{/veiculos}">
			<button  th:classappend="${botaoPressionado == 'veiculos' ? 'ativo' : ''}">Veículos</button>
		</a>

		<a th:href="@{/casas}">
			<button  th:classappend="${botaoPressionado == 'casas' ? 'ativo' : ''}" >Casas</button>
		</a>

		<a th:href="@{/locais}">
			<button  th:classappend="${botaoPressionado == 'locais' ? 'ativo' : ''}" >Locais</button>
		</a>

		<a th:href="@{/login}">
			<button  th:classappend="${botaoPressionado == 'login' ? 'ativo' : ''}">Sair</button>
		</a>
	</div>
</html>
