<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pessoas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<!-- menu lateral -->
<div th:replace="~{fragments/menu-lateral :: menuLateral}"></div>

<div class="container">
    <h2>Consultar Pessoas</h2>

    <div class="pesquisa">
        <a th:href="@{/pessoas/cadastro}">
            <button>Cadastrar</button>
        </a>
    </div>

    <div class="pesquisa">
        <form th:action="@{/pessoas}" method="get">
            <input type="text" name="pesquisa" placeholder="Pesquisar por nome ou cpf"
                   th:value="${pesquisa}">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div id="lista" class="tabela">
        <table>
            <thead>
            <tr>
                <th class="col-nome-pessoa">Nome</th>
                <th class="col-cpf">CPF</th>
                <th class="col-tipo-pessoa">Tipo</th>
                <th class="col-acoes">Ações</th>
                <th class="col-status-pessoa">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pessoaDTO : ${pessoasDTO}">
                <td th:text="${pessoaDTO.nome}"></td>
                <td th:text="${pessoaDTO.cpf}"></td>
                <td th:text="${pessoaDTO.tipo}"></td>
                <td th:text="null"></td>
                <td th:text="${pessoaDTO.ativa}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="paginacao">

        <a th:if="${paginaAtual > 0}"
           th:href="@{/pessoas(page=${paginaAtual - 1}, pesquisa=${pesquisa})}">
            <button> Anterior </button>
        </a>
        <span th:unless="${paginaAtual > 0}" class="button-disabled">Anterior</span>

        <span>Página <span th:text="${paginaAtual + 1}">1</span> de <span th:text="${totalPaginas}">3</span></span>

        <a th:if="${paginaAtual + 1 < totalPaginas}"
           th:href="@{/pessoas(page=${paginaAtual + 1}, pesquisa=${pesquisa})}">
            <button> Próximo </button>
        </a>
        <span th:unless="${paginaAtual + 1 < totalPaginas}" class="button-disabled">Próximo</span>
    </div>
</div>
</body>
</html>